*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.insta-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.insta-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.insta-phone-img{
    height: 50rem;
}
.insta-login{
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.login-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid lightgray;
    width: 100%;
    padding: 1.3rem 0;
}
.profile-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px;
}
.perfil-photo{
    height: 6rem;
}

.login-link{
    background-color: #0685da;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px;
    font-weight: 700;
}
.logout-link{
    color: #0685da;
    margin-top: 1rem;
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    color: gray;
}
.notaccount{
    margin-top: 5px;
}
.link-blue{
    color: #0685da;
    font-weight: 700;
}
.get-the-app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.download{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.get-app{
    color: gray;
    font-weight: bold;
}
.app-download{
    height: 3rem;
    width: 10rem;
    background-size: 100%;
}
.app-download:nth-child(1){
    background-image: url("img/apple-button.png");
}
.app-download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

/* responsividade */
@media (max-width: 1024px){
    .insta-container{
        width: 90%;
    }
}
@media (max-width: 650px){
    .insta-container{
        width: 90%;
    }
    .insta-phone{
        display: none;
    }
    .insta-login{
        width: 100%;
    }
    .login-group, .group{
        background-color: transparent;
        border: none;
    }
}